* {
    background-color: #E9ECF8;
    font-family: "Inter", sans-serif;
    font-weight: 400;

    line-height: 150%;
}

.logo-alura {
    margin-left: 50px;
}


main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 250px;
}

.area-texto {
    border: none;
    color: #0A3871;
    margin-top: 150px;
    margin-bottom: 200px;
    margin-right: 100px;
    margin-left: 50px;
    font-size: 32px;

}

::placeholder {color: #0A3871; }
    .area-texto:focus {
        outline: none;
    }

.mensagem {
    background-color: #F6F6F6;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 150px;
    padding-left: 20px;
    position: fixed;
    font-size: 32px;
}
.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;

}

.botao-criptografar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #F6F6F6;
    cursor: pointer;
    height: 67px;
    width: 328px;

}

.botao-descriptografar {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;

}

.botao-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 550px;
    position: absolute;
    width: 336px;

}

.rodape {
    color: #0A3871;
    padding: 24px;
    margin-left: 700px;
    font-family: #0A3871;
    font-size: 1.5rem;
    font-weight: 400;
}

.icones {
    color: #0A3871;
    margin-left: 100px;
    text-decoration: none;
}